.LearnCssAnimation {
    transform-origin: 50% 50% 0px;
    animation-name: ImgRotate3dAnimation; /* название */
    animation-duration: 10s; /* продолжительность */
    animation-iteration-count: infinite; /* повтор (бесконечно) */
    animation-delay: 2s; /* задержка */
}

/* @keyframes имя анимации { список правил } */
/* from и to (от 0% до 100%) */
/* rotate3d(x,y,z,угол) */
@keyframes ImgRotate3dAnimation {
    50%  { transform: rotate3d(2, 0, 1, 180deg); }
    100% { transform: rotate3d(2, 0, 1, 360deg); }
}